# Dependencies
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files (VERY IMPORTANT)
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/

# IDE
.vscode/
.idea/

# Docker
docker-data/
postgres-data/

# Misc
tmp/
.cache/
